.card-product {
	position: relative;
	overflow: hidden;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
	color: #818181;
}

.card-product-labels {
	position: absolute;
	z-index: 9;
	top: 30px;
	right: 10px;
}

.card-product-label {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #000000;
	color: #ffffff;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	text-transform: uppercase;
}


.card-product-thumbnail {
	position: relative;
	display: block;
	padding-bottom: 100%;
	border: none;
	text-decoration: none;
}

.card-product-thumbnail:hover {
	text-decoration: none;
}

.card-product-media {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}


.card-product-body {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	flex: 1 1 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.card-product-title {
	border: none;
	color: #3b3b3b;
	font-size: 17px;
	font-weight: 700;
	line-height: 26px;
	text-decoration: underline;
}

.card-product-title:hover {
	color: #000;
	text-decoration: none;
}


.card-product-category {
	color: #818181;
	font-size: 15px;
	font-weight: 300;
	line-height: 26px;
}


.card-product-code {
	color: #919191;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
}

.card-product-code span {
	color: #000;
}


.card-product-price {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
}

.card-product-price-current,
.card-product-price-old {
	margin: 0 20px 0 0;
	line-height: 1;
	white-space: nowrap;
}

.card-product-price-current {
	position: relative;
	z-index: 1;
	color: #000000;
	font-size: 20px;
	font-weight: 700;
}

.card-product-price-current::before {
	content: '';
	position: absolute;
	z-index: -1;
	left: -5px;
	right: -5px;
	bottom: -7px;
	height: 14px;
	background-color: #f3f3f3;
	
}

.card-product-price-old {
	position: relative;
	z-index: 1;
	color: #a6a6a6;
	font-size: 14px;
	font-weight: 300;
	text-decoration: line-through;
}


.card-product-favourite,
.card-product-bag {
	outline: none !important;
	cursor: pointer;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}

.card-product-favourite {
	position: relative;
	margin: 0 20px -8px auto;
}

.card-product-favourite::before,
.card-product-favourite::after {
	content: '';
	position: absolute;
	top: 50%;
	border-bottom: 1px solid #eeeeee;

}

.card-product-favourite::before {
	right: 100%;
	width: 100vw;
}

.card-product-favourite::after {
	left: 100%;
	width: 20px;
} 

.card-product-bag {
	position: relative;
	z-index: 9;
	margin: -8px 0 0;
}


.card-product-footer {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	margin-top: auto;
}


/* sm */
.card-product-sm .card-product-thumbnail {
	flex: 0 0 70px;
	max-width: 70px;
	width: 70px;
	margin-right: 8px;
	padding-bottom: 70px;
	background-color: #fff;
}


.card-product-sm .card-product-body {
	padding: 0;
}

.card-product-sm .card-product-title {
	font-size: 14px;
	line-height: 20px;
}

.card-product-sm .card-product-category,
.card-product-sm .card-product-code {
	font-size: 12px;
	line-height: 1.1;
}


.card-product-sm .card-product-footer {
	margin-top: 0;
}

.card-product-sm .card-product-price {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-align-items: flex-start;
	align-items: flex-start;
	-ms-align-self: center;
	align-self: center;
	margin: 0 20px 0 0;
}

.card-product-sm .card-product-price-current,
.card-product-sm .card-product-price-old {
	margin: 2px 0;
}

.card-product-sm .card-product-price-current {
	font-size: 16px;
}

.card-product-sm .card-product-price-old {
	font-size: 12px;
}

.card-product-sm .card-product-bag {
	width: 30px;
	height: 30px;
	margin: 0;
}

@media (min-width: 480px) {
	.card-product-price {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}

	.card-product-bag {
		margin: 0;
	}
}

@media (min-width: 768px) {
	.card-product-body {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 1024px) {
	.card-product-thumbnail {
		padding-bottom: 107%;
	}
}

@media (min-width: 1200px) {
	.card-product-body {
		padding-left: 30px;
		padding-right: 30px;
	}

	.card-product-bag {
		margin: -8px 0 0;
	}


	/* sm */
	.card-product-sm .card-product-thumbnail {
		flex: 0 0 100px;
		max-width: 100px;
		width: 100px;
		padding-bottom: 100px;
	}

	.card-product-sm .card-product-title {
		margin-top: 3px;
		margin-bottom: 3px;
		font-size: 15px;
		line-height: 20px;
	}

	.card-product-sm .card-product-category,
	.card-product-sm .card-product-code {
		font-size: 13px;
	}


	.card-product-sm .card-product-footer {
		margin-top: 6px;
	}

	.card-product-sm .card-product-price-current {
		font-size: 17px;
	}

	.card-product-sm .card-product-price-old {
		font-size: 13px;
	}
}