.section-advantages {
	padding-top: 15px;
	padding-bottom: 15px;
}

.advantages-grid {
	padding: 25px 20px 25px;
	border: 10px solid #f4f4f4;
}

.advantages-grid > .row {
	margin-bottom: -30px;
}

.advantages-grid .advantage-item {
	margin-bottom: 30px;
}


@media (min-width: 1024px) {
	.advantages-grid {
		padding: 50px 60px 70px;
	}
}