.section-about {
	padding-top: 30px;
	padding-bottom: 50px;
}

.section-about .about-figure {
	max-width: 320px;
	margin: 0 auto 15px;
}

.section-about .about-title {
	margin: 0 0 15px;
}


@media (min-width: 480px) {
	.section-about {
		padding-top: 40px;
		padding-bottom: 60px;
	}
}

@media (min-width: 768px) {
	.section-about .about-figure {
		max-width: none;
		margin: 0;
	}
}

@media (min-width: 1200px) {
	.section-about {
		padding-top: 40px;
		padding-bottom: 110px;
	}
}